@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:#019c28;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:#019c2829;
  color:#019c28;
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:#019c28;
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid #019c28;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:#019c285e;
  color:#002d03;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#002d03;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:#01ff42;
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:#01ff42;
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}

#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.beranda{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.beranda .content{
  text-align: center;
}

.beranda .content .btn{
  border-radius: 1rem;
  display: inline-block;
  margin-top: 1rem;
  background:#019c28;
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid #019c28;
  cursor: pointer;
  font-size: 1.7rem;
}

.beranda .content .btn:hover{
  background:#019c285e;
  color:#01ff42;
}

.beranda .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.beranda .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.beranda .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.tentang .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.tentang .box-container p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.wisata-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wisata-form-container.active{
  top:0;
}

.wisata-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.wisata-form-container form .btn{
  border-radius: 1rem;
}

.wisata-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.wisata-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.wisata-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.wisata-form-container form p a{
  color:var(--orange);
}

.wisata-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.wisata-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

.hutan-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hutan-form-container.active{
  top:0;
}

.hutan-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.hutan-form-container form .btn{
  border-radius: 1rem;
}

.hutan-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.hutan-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.hutan-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.hutan-form-container form p a{
  color:var(--orange);
}

.hutan-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.hutan-form-container #form-close2{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}


.situ-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.situ-form-container.active{
  top:0;
}

.situ-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.situ-form-container form .btn{
  border-radius: 1rem;
}

.situ-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.situ-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.situ-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.situ-form-container form p a{
  color:var(--orange);
}

.situ-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.situ-form-container #form-close3{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}


.gj45-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gj45-form-container.active{
  top:0;
}

.gj45-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.gj45-form-container form .btn{
  border-radius: 1rem;
}

.gj45-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.gj45-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.gj45-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.gj45-form-container form p a{
  color:var(--orange);
}

.gj45-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.gj45-form-container #form-close4{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}


.buaya-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buaya-form-container.active{
  top:0;
}

.buaya-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.buaya-form-container form .btn{
  border-radius: 1rem;
}

.buaya-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.buaya-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.buaya-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.buaya-form-container form p a{
  color:var(--orange);
}

.buaya-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.buaya-form-container #form-close5{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

.water-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.water-form-container.active{
  top:0;
}

.water-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.water-form-container form .btn{
  border-radius: 1rem;
}

.water-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.water-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.water-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.water-form-container form p a{
  color:var(--orange);
}

.water-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.water-form-container #form-close6{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}


.wisata .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.wisata .box-container .box{
  flex:1 1 30rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.wisata .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.wisata .box-container .box .content{
  padding:2rem;
  background-color: #fff;
}

.wisata .box-container .box .content .btn{
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1)
}

.wisata .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.wisata .box-container .box .content h3 i{
  color:#019c28;
}

.wisata .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.wisata .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.galeri .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:5rem;
}

.galeri .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  border:1rem solid #fff;
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  position: relative;
}

.galeri .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.galeri .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 8rem;
}

.galeri .box-container .box:hover .content{
  top:0;
}

.galeri .box-container .box .content h3{
  font-size: 2.5rem;
  color:#01ff42;
}

.galeri .box-container .box .content p{
  font-size: 1.5rem;
  color:#eee;
  padding:.5rem 0;
}

.ulasan .ulasan-slider{
  padding-bottom: 2rem;
}

.ulasan .box{
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  border-radius: .5rem;
}

.ulasan .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.ulasan .box h3{
  color:#333;
  font-size: 2.5rem;
}

.ulasan .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.ulasan .box .stars i{
  color:var(--orange);
  font-size: 1.7rem;
}

.kontak .box-container{
  display: flex;
  flex-wrap: wrap;
}

.kontak .box-container .box{
  cursor: pointer;
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.kontak .box-container .box a{
  color: #333;
}

.kontak .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:#019c28;
}

.kontak .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.kontak .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.kontak .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.8rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .instagram{
  font-size: 3rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.6rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.9rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:#01ff42;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:#01ff42;
}
















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:1.5rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #002d03;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#016f1d;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}